.custom.page-footer {
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-left: 5px solid #00a4bd;
    display: none;
}

.footer-modification {
    display: none;
}